.container {
    position: relative;
    top: 20px;
    left: 20px;
    width: 250px;
    height: 200px;
    background-color: yellow;
}

.element {
    position: absolute;
    right: 30px;
    top: 15px;
    width: 100px;
    height: 100px;
    background-color: green;
}
