h1 {
    /* See more on: https://developer.mozilla.org/en/docs/Web/CSS/font-family */
    font-family: Arial, sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 18px;

    text-align: center;
    text-decoration: underline;
    line-height: 0.6;
}
