.border-example {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.dotted {
    border-style: dotted;
    border-width: 5px;
}

.dashed {
    border-style: dashed;
    border-width: 5px;
    border-color: red;
}
